.drawing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  pointer-events: all;
  mix-blend-mode: normal;
}

.drawing-overlay.drawing-active {
  cursor: crosshair;
}

.drawing-overlay svg {
  pointer-events: none;
}
